.app {
  background: white;
  background-image: url('./Components/Pictures/cluster_logo7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  min-height: 100vh;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
}

.title {
  text-align: center;
  background: red;
  border: 2px solid black;
  width: 100%;
  border-radius: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.list-bg {
  background: rgb(155, 0, 0);
  border: 2px solid black;
  height: 100%;
  width: 50%;
  margin-bottom: 2%;
  margin-right: 13%;
  padding: 2%;
  border-radius: 10px;
}

.right-menu {
  height: 50%;
  width: 40%;
  justify-content: space-between;
}

.red-bg {
  background: red;
  border: 2px solid black;
  padding-left: 5%;
  width: 90%;
  border-radius: 10px;
}

.user-menu {
  background: rgb(155, 0, 0);
  border: 2px solid black;
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 10px;
}

.saldo-info {
  display: flex;
  flex-direction: row;
}

.feedback {
  background: rgb(155, 0, 0);
  border: 2px solid black;
  height: 100%;
  width: 100%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 5%;
  border-radius: 10px;
}

.feedback-field {
  background: lightgray;
  width: 95%;
  resize: none;
}

.item-bg {
  background: red;
  border: 2px solid black;
  height: 120px;
  width: 97%;
  margin-bottom: 5%;
  padding-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
}

.buy-button {
  height: 50%;
  margin-top: 5%;
  text-align: center;
  border-radius: 10px;
  border-width: thick;
  font-weight: bold;
  font-size: 120%;
  background-color: rgb(255, 30, 30);


}

.logout-button {
  float: right;
  border-radius: 10px;
  font-size: x-large;
  background-color: rgb(255, 30, 30);
  font-weight: 500;
  color: black;
  border-width: thick;
}

.saldo-button {
  height: 40px;
  border-radius: 10px;
  border-width: thick;
  float: right;
  margin-left: 12%;
  margin-right: 8%;
  margin-top: 0%;
  margin-bottom: 6%;
  font-weight: bold;
  font-size: 120%;
  background-color: rgb(255, 30, 30);
}


.item-newinfo {
  width: 50px;
}

.center {
  text-align: center;
}

.modal {
  width: 500px;
  height: 100px;
  border-radius: 5px;
  border-style: initial;
  position: "absolute";
  z-index: 4000;
  padding: 10px;
  margin-left: 40%;
  margin-top: 15%;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.meidan_logo {
  position: 'absolute';
  right: '50%';
  margin-top: 10%;

}

.login_header {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 300%;
}

.column {
  display: flex;
  flex-direction: column;
}